.delete-booking-page {
    display: flex;
    flex-direction: column;
    margin: 1vh;
    gap: 1vh;
}

.delete-booking-page button {
  width: 7.5vw;
  height: 5vh;
  border: solid black 1px;
  border-radius: 10%;
}

.delete-booking-page button:hover {
  background-color: rgb(234, 179, 152);
}